// Cards.scss
@import "./colors";

div.card {
  transition: all 0.5s ease-out;
  background: $gb-bg0;
  color: $gb-fg0;

  .card-title {
    color: $gb-fg1;
    font-weight: bold;
  }

  // FIX: Dont working.
  div.post-content {
    -webkit-line-clamp: 2;
    line-clamp: 2;
  }

  .card-text > small.text-muted {
    color: $gb-fg4 !important;
  }

  &:hover {
    border: 1px solid $gb-bg3;
  }
}
