// Footer
@import "./colors";

.footer {
  background: $gb-bg0 !important;
  padding: 0.4rem;

  .footer-box {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    .right-mark {
      .icon {
        font-size: 1.5rem !important;
      }
    }
    .social-networks {
      font-size: 1.5rem;
      .social-link {
        padding: 0 2vw;
        transition: all 0.5s ease-out;
      }
      .github {
        &:hover {
          color: $gb-bg0-hard;
        }
      }
      .linkedin {
        &:hover {
          color: $gb-dark-blue;
        }
      }
      .portfolio {
        &:hover {
          color: $gb-dark-aqua;
        }
      }
    }
  }
}
