@import "./colors";

nav.navbar {
  background: $gb-bg0 !important;
  a {
    color: $gb-fg1 !important;
    &:hover {
      color: $gb-dark-yellow !important;
    }
    &.active {
      color: $gb-dark-orange !important;
    }
  }
}
