// Text
@import "./colors";

.text-normal {
  color: $gb-fg0 !important;
}
.text-red {
  color: $gb-dark-red !important;
}
.text-green {
  color: $gb-dark-green !important;
}
.text-yellow {
  color: $gb-dark-yellow !important;
}
.text-blue {
  color: $gb-dark-blue !important;
}
.text-purple {
  color: $gb-dark-purple !important;
}
.text-aqua {
  color: $gb-dark-aqua !important;
}
.text-orange {
  color: $gb-dark-orange !important;
}
.text-gray {
  color: $gb-dark-gray !important;
}
.text-coffe {
  color: $gb-fg4 !important;
}
