// Text
@import "./colors";

.text-red {
  color: $gb-dm-dark-red !important;
}
.text-green {
  color: $gb-dm-dark-green !important;
}
.text-yellow {
  color: $gb-dm-dark-yellow !important;
}
.text-blue {
  color: $gb-dm-dark-blue !important;
}
.text-purple {
  color: $gb-dm-dark-purple !important;
}
.text-aqua {
  color: $gb-dm-dark-aqua !important;
}
.text-orange {
  color: $gb-dm-dark-orange !important;
}
.text-gray {
  color: $gb-dm-dark-gray !important;
}
