// Third party imports.
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap"); // Source Code Pro font.

// Import partials
@import "partials/colors";
@import "partials/text";
@import "partials/navbar";
@import "partials/footer";
@import "partials/cards";
@import "partials/post";

// Custom config
* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Source Code Pro", monospace, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif !important;
  background: $gb-dm-bg0-hard !important;
  color: $gb-dm-fg0 !important;
}

a.card-link,
a.social-link {
  color: inherit;
  text-decoration: inherit;
}
